@{
    ViewData["Title"] = "Main";
}

<form class="mt=0" method="post" asp-action="Click">
    <div class="col-2">
        <input id="TextBox1" type="text" value="@ViewBag.ClicksCount">
        <input id="Button1" type="submit" value="Click Me" />
    </div>
</form>