@page
@model IndexModel
@{ ViewData["Title"] = "Index"; }

<form method="post">
	<table>
		<tr>
			<td>
				@Html.TextBox("TxtDepartment")
			</td>
			<td>
				<button type="button" id="DepartmentSearch">Search</button>
			</td>
		</tr>
	</table>
</form>
<br />

<table>
	<tr>
		<td><div id="DepartmentResult"></div></td>&nbsp;
		<td><div id="EmployeeResult"></div></td>
	</tr>
</table>

@section Scripts {
	<script>
		$("#DepartmentSearch").click(function()
		{
			$.ajax(
			{
				url: "/Index?handler=DisplayDepartment",
				type: "POST",
				data: { value: $("#TxtDepartment").val() },
				headers: { RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val() },
				success: function(data) { $("#DepartmentResult").html(data); }
			});
		});
	</script>
}