@page
@model PracticeApp.Pages.IndexModel
@{ViewData["Title"] = "Index";}

<form method="post">
	@Html.TextBox("Entervalue")
	<button type="submit" id="search">Search Value</button>

	<div id="result">
		<partial name="_DisplaySearchPartial" model="Model.Employee" />
	</div>
</form>

@section scripts
{
	<script>
		$("#search").click(function() {
			$.ajax({
				       url: "/Index?handler=Search",
				       type: "POST",
				       data: { value: $("#Entervalue").val() },
					   headers: { RequestVerificationToken: $('input: hidden[name="__RequestVerificationToken"]').val() },
				       success: function(data) { $("#result").html(data); }
			      });
		});
	</script>
}