@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
	<div class="col-sm-2 col-xs-*">
		<div class="customDiv">Left Side Bar</div>
	</div>
	<div class="col-sm-8 col-xs-*">
		<div class="customDiv">Main Content Area</div>
	</div>
	<div class="col-sm-2 col-xs-*">
		<div class="customDiv">Right Side Bar</div>
	</div>
</div>