@page
@model IndexModel
@{ ViewData["Title"] = "Index"; }

<form method="post">
	<table>
		<tr>
			<td>@Html.TextBox("Entervalue")</td>
			<td><button type="button" id="search">Search</button></td>
		</tr>
	</table>

	<div id="result">

	</div>
</form>

@section Scripts {
	<script>
		$("#search").click(function()
		{
			$.ajax(
			{
				url: "/Index?handler=Display",
				type: "POST",
				data: { value: $("#Entervalue").val() },
				headers: { RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val() },
				success: function(data) { $("#result").html(data); }
			});
		});
	</script>
}