@page "{id?}"
@model IndexModel
@{ ViewData["Title"] = "Index"; }
<!--
<form method="get">
	<table>
		<tr>
			<td>
				@Html.TextBox("TxtDepartment")
			</td>
			<td>
				<button type="button" id="DepartmentSearch">Search</button>
			</td>
		</tr>
	</table>
</form>
	-->
<br />

<table>
	<tr>
		<td><div id="DepartmentResult"></div></td>&nbsp;
		<td><div id="EmployeeResult"></div></td>
	</tr>
</table>

<form method="get">
	<label>Department Name:</label>
	<input type="text" id="DeptName" />
	<label>Photo File Name:</label>
	<input type="text" id="NameResult" />
</form>

@section Scripts {
	<script>
/*		$("#DepartmentSearch").click(function()
		{
			$.ajax(
			{
				url: "/Index?handler=DisplayDepartment",
				type: "GET",
				data: { value: $("#TxtDepartment").val() },
				headers: { RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val() },
				success: function(data) { $("#DepartmentResult").html(data); }
			});
		}); */
		$(document).ready(function()
		{
			$.ajax(
			{
				url: "/Index?handler=DisplayDepartment",
				type: "GET",
				data: { value: @Model.Id },
				headers: { RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val() },
				success: function(data) { $("#DepartmentResult").html(data); }
			});
		});
	</script>
}