<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQ_LINQ_to_SQL.Properties.Settings.DonutOrderingConnectionString"
            connectionString="Data Source=ROB-DESKTOP\SQLEXPRESS;Initial Catalog=DonutOrdering;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>