<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQ_To_SQL.Properties.Settings.DonutOrderingConnectionString"
            connectionString="Data Source=ROB-DESKTOP\SQLEXPRESS;Initial Catalog=DonutOrdering;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LINQ_To_SQL.Properties.Settings.StudentsConnectionString"
            connectionString="Data Source=ROB-DESKTOP\SQLEXPRESS;Initial Catalog=Students;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LINQ_To_SQL.Properties.Settings.CompanyConnectionString"
            connectionString="Data Source=ROB-DESKTOP\SQLEXPRESS;Initial Catalog=Company;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>