@model IEnumerable<Models.Department>

@if (Model.Count() != 0)
 {
	<div id="EmployeeSection">
		<table style="border: 1px solid black">
			<thead>
				<tr>
					<th colspan="2" style="border: 1px solid black; text-align: center;">Department Info</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td style="border: 1px solid black; font-weight: bold; text-align: center;">@Html.DisplayNameFor(m => m.DepartmentName)</td>
				</tr>

				@foreach (Models.Department item in Model)
				 {
					<tr>
						<td style="border: 1px solid black; text-align: center">
							<a href="Index/?handler=DisplayEmployee&value=@item.DepartmentName">@item.DepartmentName</a>
						</td>
					</tr>
				 }
			</tbody>
		</table>
	</div>
 }
else
{
	<p>No data</p>
}

<script>
	$('#EmployeeSection a').click(function(event) {
		$('#EmployeeResult').hide().load($(this).attr('href'), function() {
			$('#EmployeeResult').show()
		})
		return false
	})
</script>