@model IEnumerable<Models.Employee>
<p>Search Result</p>

@if (Model.Count() != 0)
 {
	<table>
		<tr><td>@Html.DisplayNameFor(m => m.EmployeeName)</td></tr>

		@foreach (Models.Employee item in Model)
		 {
			<tr><td>@Html.DisplayTextFor(m => item.EmployeeName)</td></tr>
		 }
	</table>
 }
 else
{
	<p>No data</p>
}