@page
@model IndexModel

<div class="container">
  <h1>World Cities Word Guess Game</h1>
  <p>Press any key to get started!</p>
  <h4>Wins</h4>
  <div id="totalWins"></div>
  <h4>Current Word</h4>
  <div id="currentWord"></div>
  <h4>Guesses Remaining</h4>
  <div id="guessedLetters"></div>
</div>