@page "/Index2"
@model Index2Model

@{ViewData["Title"] = "Main";}

<form class="mt=0" method="post">
    <div>
        <input name="TextBox1" id="TextBox1" type="text" value="@Model.ClicksCount" style="width: 48px;" />
        <input name="Button1" id="Button1" type="submit" value="Click Me" />
    </div>
</form>