@page "/Index4"
@model Index4Model

@{ViewData["Title"] = "Main";}

<form class="mt=0" method="post">
    <div>
        ASP.NET Server Control:&nbsp;
        <input id="TextBox1" type="text" asp-for="TextBox1" />
        <br />
        <br />
        HTML Control:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="Text1" id="Text1" type="text" />
        <br />
        <br />
        <button id="Button1" type="submit">Button</button>
    </div>
</form>